:root{
    font-size: 16px;
}

@font-face {
    font-family: 'enchanted-land';
    src: url('./fonts/enchanted_land-webfont.woff2') format('woff2'),
         url('./fonts/enchanted_land-webfont.woff') format('woff'),
         url('./fonts/Enchanted_Land.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'waltograph';
    src: url('./fonts/waltograph42-webfont.woff2') format('woff2'),
         url('./fonts/waltograph42-webfont.woff') format('woff'),
         url('./fonts/waltograph42.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}

.flex-item{
    width: 49vw;
}

h2{
    font-family: 'waltograph';
    font-size: 3rem;
}

p{
    font-family: 'enchanted-land';
    font-size: 2rem;
}

@media (max-width:975px) {
    .flex-item{
        width: 100vw;
    }
}


    @keyframes shimmer {
        100% {
          left: 100%;
        }
      }

    .shimmer {
        position: relative;
        overflow: hidden;
        color: #FFD700;
      }
      
      .shimmer::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100%;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.534), transparent);
        animation: shimmer 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      }
      

      
      
      

      
      

      


  
  